extends layout

block content

  h1 Title: 
    span(class='item' + item.quality) #{item.name}

  div
    div(class='imgDiv')
      img(src=item.imgUrl alt='Item image')
    p #[strong Description:] #{item.description} 
    p #[strong Quality:] 
      span(class='item' + item.quality) #{item.quality} 
    p #[strong Slot:] 
      a(href=item.slot.url) #{item.slot.name} 
    p #[strong Slot Description:] #{item.slot.description}

     div(style="margin-left: 20px;margin-top: 40px")
      h2 Stocks:
      hr
      if itemInstances.length
        for itemVal in itemInstances
          p #[strong Id:]
            a(href=itemVal.url)  #{itemVal._id} 
            span (#{itemVal.stock})
          p #[strong Number of stocks:] #{itemVal.num_of_stocks} 
          p #[strong Price:] #{itemVal.price}
          p #[strong Seller:]
            a(href=itemVal.seller.url)  #{itemVal.seller.name}
          hr

      else 
        p There are no stocks available in the store.

  hr
  p 
  a(href=item.url + '/delete') Delete item
  p 
  a(href=item.url + '/update') Update item